
#gemini
GEMINI_API_KEY="MY_GEMINI_API_KEY"
#千问
DASHSCOPE_API_KEY="MY_DASHSCOPE_API_KEY"
#openAI
OPENAI_API_KEY="MY_OPENAI_API_KEY"
#clauld
CLAUDE_API_KEY="MY_CLAUDE_API_KEY"
#deepseek
DEEPSEEK_API_KEY="MY_DEEPSEEK_API_KEY"
#zhipu
ZHIPU_API_KEY="MY_ZHIPU_API_KEY"
